{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'farms/style.css' %}">


{% load render_table from django_tables2 %}
<!doctype html>
<html>
    <head>
        <title>List of Transactions</title>
    </head>
    <body>
        <h1>Farming DB Accounting Software</h1>
        <a href="{% url 'index' %}">Index</a>

        <a href="{% url 'reporting' %}">Reporting in Shiny</a>
        
        <a href="{% url 'transactions' %}">List of Transactions</a>
        
        <a href="http://127.0.0.1:8000/admin/farms/fieldyeartransaction/">Update Transactions (links out)</a>
        
        <a href="http://127.0.0.1:8000/admin/farms/fieldyearcrop/">Update Crops Acreage and Yields (links out)</a>
        <br>
        <br>
        {% render_table object_list %}
    </body>
</html>